# Format:
# AndroidSignatureInfoPath="C:\Path\To\Info-File.conf"
# AndroidKeystorePath="C\Path\To\Keystore-File.keystore"

# Example:
# AndroidSignatureInfoPath="D:\Signature\Info-Signature.conf"
# AndroidKeystorePath="D:\Keystore\Keystore-Signature.keystore


# AndroidSignatureInfoPath file information:

# Format:
# AndroidKeyAlias="keyalias"
# AndroidKeypass="keypass"
# AndroidStorepass="storepass"

# Example:
# AndroidKeyAlias="my_key"
# AndroidKeypass="12345678"
# AndroidStorepass="qwerty"


# To make it work you need:
# 1. Create or rename this file with the name "Mobile-Signature_Info.conf" in "Compile" folder.
# 2. Add there options following the format and example written up there.
# 3. Run "Compile-Numbers_Mobile.bat" or "Compile-Numbers_All.bat".
